:root {
  --primario: #780727;
  --blanco: #fff;
  --oscuro: rgba(0, 0, 0, 0.1);
  --gris: #888;
}

.firstText {
  color: var(--gris);
  font-size: 28px;
  font-family: Gotham;
  margin-bottom: 30px;
  text-align: center;
}

.firstText span {
  color: var(--primario);
  font-family: GothamRounded;
}

.loader_rightSide {
  display: flex;
  align-items: center;
}