/* Estilos para login */

/* Hace referencia a todos los componentes que pueda haber en la pagina (esta) */

@font-face {
    font-family: GothamRounded;
    src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
    font-family: Gotham;
    src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header {
    display: flex;
    position: sticky;
    justify-content: space-around;
    width: 100vw; /* Se acopla a la pantalla */
    height: 9vh;
    background-color: #780727;
    align-items: center;
    font-family: GothamRounded;
    z-index: 10;
}

.content {
    margin-left: -25px;
    display: flex;
    justify-content: space-around;
    width: 100vw; /* Se acopla a la pantalla */
    height: 9vh;
    background-color: #780727;
    align-items: center;
}

.logoIzq img{
    height: 60px;
}

.logoDer img{
    height: 50px;
}

.leyendas {
    /* border: solid green 1px; */
    color: #fff;
    text-align: center;
    font-size: .6rem;
}
