* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.header {
    display: flex;
    position: sticky;
    justify-content: space-around;
    width: 100%;
    /* Se acopla a la pantalla */
    height: 9vh;
    background-color: var(--primario);
    align-items: center;
    z-index: 10;
}

.header__content {
    margin-left: -25px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* Se acopla a la pantalla */
    height: 9vh;
    background-color: var(--primario);
    align-items: center;
    line-height: 1.5;
}

.header__content--logoIzq {
    display: flex;
    flex-direction: column;
}

.header__content--logoIzq img {
    height: 60px;
}

.header__content--leyendas {
    color: var(--blanco);
    text-align: center;
    font-size: .7rem;
    font-family: GothamRounded;
    text-transform: uppercase;
}

.header__content--logoDer img {
    height: 50px;
}

/* Barra de cuenta */

.infocuenta__contenedor {
    display: flex;
    justify-content:flex-start;
    background-color: var(--primarioOscuro);
    width: 100%;
    height: 5vh;
    position: sticky;
    left: 0;
    margin: 0;
    font-family: Gotham;
}

.info-cuenta {
    display: flex;
    gap: .2rem;
    padding: .4rem;
    font-size: .9rem;
    color: var(--blanco);
    font-family: Gotham;
    justify-content: space-evenly;
    align-items: flex-end;
}
