/*==========================SCROLL PERSONALIZADO DEL DIRECTORIO======================================*/
.sentcontent::-webkit-scrollbar {
    -webkit-appearance: none;
}

.sentcontent::-webkit-scrollbar:vertical {
    width: 9px;
}

.sentcontent::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
    display: none;
}

.sentcontent::-webkit-scrollbar:horizontal {
    height: 10px;
}

.sentcontent::-webkit-scrollbar-thumb {
    background-color: #780727;
    border-radius: 10px;
    border: 2px solid #FFF;
}

.sentcontent::-webkit-scrollbar-track {
    border-radius: 10px;
}

/*======================================================================================*/


.sentsearch {
    display: flex;
    border-bottom: solid #780727 2px;
    padding: 5px;
    width: 31.5vw;
}

.sentsearch input {
    width: 100%;
    font-family: Gotham;
    font-size: 1rem;
    border: none;
    outline: none;
}

.filtersDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filtersDiv .filterInd {
    display: flex;
    gap: 1rem;
}

.filterInd input, .filterInd select{
    padding: 5px;
    outline: none;
    border: none;
    border: solid #780727 2px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Gotham;
}

.sentmiddle {
    display: flex;
}

.sentcontent {
    width: 95vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 20px;
    animation-duration: 1s;
    animation-name: popup;
}

@keyframes popup {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

/* Botones para filtrado de estatus de correspondencia */

.filtersbtn button {
    border-radius: 2px 10px 0px 0px;
    font-family: Gotham;
}


.filtersbtn .btnall {
    background-color: #D1B173;
}

.filtersbtn .btnall:hover {
    background-color: #826e46;
}

.filtersbtn .btnproc {
    background-color: #B57171;
}

.filtersbtn .btnproc:hover {
    background-color: #754949;
}

.filtersbtn .btnsent {
    background-color: #71B57E;
}

.filtersbtn .btnsent:hover {
    background-color: #3d6244;
}

.filtersbtn .btnstore {
    background-color: #b59871;
}

.filtersbtn .btnstore:hover {
    background-color: #b38648;
}

/* Botones para filtrado de tipo de correspondencia */

.filtersbtn .btnall_type--c {
    
    background-color: #BB6464;
}

.filtersbtn .btnall_type--c:hover {
    background-color: #826e46;
}

.filtersbtn .btn_info--c {
    background-color: #E6BA95;
}

.filtersbtn .btn_info--c:hover {
    
}

.filtersbtn .btn_req--c {
    background-color: rgb(117,161,207);
}

.filtersbtn .btn_cop--c {
    background-color: #6D8B74;
}


table {
    border-collapse: collapse;
}

.sentrow {
    border-bottom: solid #780727 2px;
    transition: background 0.3s;
    cursor: pointer;
}

.sentrow:hover {
    background-color: rgb(211, 209, 209);
}

td {
    padding: 10px;
}

.info_para {
    font-family: Gotham;
}

.info_para span {
    font-family: GothamRounded;
}

.info_de {
    font-family: Gotham;
}

.info_de span {
    font-family: GothamRounded;
}

.filters_type--sent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}