@font-face {
  font-family: GothamRounded;
  src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
  font-family: Gotham;
  src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}


* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

/*==========================SIDEBAR MICHELLE======================================*/

.NavIcon{
    margin-left: 1rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

hr{
  color: #ffffff;
  margin-top: 5px;
  width: 100%;
  border: solid #ffffff .5px;
}

.NavIcon .Usuario{
  margin-top: 2px;
  color: #ffffff;
  font-size: 12px;
  font-family: GothamRounded;
 
}

.NavIcon .Cargo{
  margin-top: 2px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  font-family: Gotham;
  margin-left: -15px;
}

.SidebarNav{
    background: #57061d;
    width: 21vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 9vh;
    /* left: ${({sidebar }) => (sidebar ? '0' : '-100%')}; */
    /* transition: 350ms; */
    z-index: 10;
}

.SidebarNav::-webkit-scrollbar {
  -webkit-appearance: none;
}

.SidebarNav::-webkit-scrollbar:vertical {
  width:10px;
}

.SidebarNav::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.SidebarNav::-webkit-scrollbar:horizontal {
  height: 10px;
}

.SidebarNav::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #380212;
}

.SidebarNav::-webkit-scrollbar-track {
  border-radius: 10px;  
} 

.SidebarWrap{
    width: 100%;
}

/*==========================SIDEBAR MICHELLE======================================*/

/*==========================SCROLL PERSONALIZADO DEL MENÚ======================================*/
header nav::-webkit-scrollbar {
    -webkit-appearance:none;
  }
  
  header nav::-webkit-scrollbar:vertical {
    width:9px;
  }
  
  header nav::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  header nav::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  header nav::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #380212;
  }
  
  header nav::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
  
  /*======================================================================================*/
  
  header nav ul {
      list-style:none;
  }
  
  header nav ul li {
      position: relative;
      display: block;
      border-bottom:1px solid rgba(255,255,255,.5);
  }
  
  header nav ul li:hover {
      background:#380212;
  }
  
  /* linkers */
  header nav ul li a {
      color:rgb(255, 255, 255);
      display:block;
      text-decoration:none;
      padding: 20px;
      font-family: Gotham;
      
  }
  
  header nav ul li a span {
      margin-right:10px;
      
  }
  
  header nav ul li:hover .children {
      display:block;
  }
  
  header nav ul li .children {
    display: none;
    width: 100%;
    position: relative;
    background:#380212;
    z-index:1000;
  }
  
  header nav ul li .children li {
      display:block;
      overflow: hidden;
      border-bottom: 1px solid rgba(255,255,255,.5);
  }
  
  header nav ul li .children li a {
      display: block;
  }
  
  header nav ul li .children li a span {
      float: right;
      position: relative;
      top:3px;
      margin-right:0;
      margin-left:10px;
  }
  
  header nav ul li:hover .children {
    display: none;
  }
  
  nav {
    background:#780727;
    z-index:1000;
    width: 20vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: start;
    margin: 0;
    top: 0;
    overflow: scroll;
  }
  
  span{
    font-size: 1rem;
  }

  .infocuenta {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    color: white;
  }