.assigncontent {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 86vh;
    padding: 20px;
    overflow: scroll;
    animation-duration: 1s;
    animation-name: popup;
}

.buttonBack p {
    margin-top: -7px;
    font-size: 1.7rem;
    color: var(--negro);
    font-family: Gotham;
    margin-left: 1.2rem;
}

.assignView {
    display: flex;
}

.assignOption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
    padding: 10px;
}

.assignOption select {
    width: 45%;
}

.correspondenceInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    width: 50%;
    border: 2px solid #780727;
    border-radius: 10px;
}

.correspondenceRow {
    display: flex;
    justify-content: space-between;
}