@font-face {
    font-family: GothamRounded;
    src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
    font-family: Gotham;
    src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}

.Container{
    display: flex;
}

.Welcome{
    width: 100%;
    max-width: 480px;
    padding: 15px 30px;
  }
  
  .Welcome h2{
    color: #888;
    font-size: 28px;
    font-family: Gotham;
    margin-bottom: 30px;
  }
  
  .Welcome h2 span{
    color: #780727;
    font-family: GothamRounded;
  }