@font-face {
    font-family: GothamRounded;
    src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
    font-family: Gotham;
    src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}

.contentDirectory{
    width: 100vw;
    display: flex;
}

.Tarjeta{
    border: solid #780727 2px;
    border-radius: 2px;
    min-height: 70px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.img-contact{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    width: 8%;
    align-items: center;
}

.info-contact{
    display: flex;
    flex-direction: column;
    width: 73%;
    font-family: Gotham;
    
}

.name-contact{
    font-family: GothamRounded;
}

.img-message{
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 1.3rem;
    width: 8%;
    max-width: 30px;
    max-height: 30px;
    background-color: #780727;
    padding: 2px;
    color: #fff;
    border-radius: 100%;
    cursor:pointer;
}


  .directorio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 30vw));
    justify-content: center;
    gap: 30px;
    margin: 10px;
  }

.back{
    display: flex;
    align-items: left;
    justify-content: left;
    color: #780727;
    font-size: 25px;
}

.back i{
    cursor: pointer;
}

.TitlePage{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:black;
    font-family: Gotham;
}

.direction{
    display: flex;
    flex-direction: column;
    width: 79vw;
    height: 91vh;
    margin-left: 21vw;
}
