:root {
  --primario: #780727;
  --primarioOscuro: #380212;
  --blanco: #fff;
}

@font-face {
  font-family: GothamRounded;
  src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
  font-family: Gotham;
  src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}

.modal {
  position: fixed;
  top: 14vh;
  left: 5vw;
  width: 95vw;
  height: 86vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  display: flex;
  flex-direction: column;
  align-items: right;
  position: fixed;
  background: #E7E7E7;
  top: 22vh;
  left: 20vw;
  width: 60vw;
  padding: 15px;
  margin: auto;
  border-radius: 5px;
  height: 70vh;
  animation-duration: 0.7s;
  animation-name: scaleUp;
}

.modalButton {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modalName {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 20px;
  width: 80%;
  text-align: center;
  flex-direction: column;
}

.p-letter {
  font-family: Gotham;
}

.modalEmail,
.modalPos,
.modalPhone {
  display: flex;
  margin: 10px;
  width: 50%;
  gap: 10px;
  font-size: 1rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
  opacity: 0;
}

.icon-modal {
  color: var(--primarioOscuro);
}

 /* @keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
} */ 

@keyframes zoomIn {
  0% {
    transform:scale(0);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform:scale(.8) translateY(1000px);
    opacity:0;
  }
  100% {
    transform:scale(1) translateY(0px);
    opacity:1;
  }
}