@font-face {
  font-family: GothamRounded;
  src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
  font-family: Gotham;
  src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}

.Container {
  width: 45vw;
  height: 70vh;
  display: inline-block;
  padding: 2em;
}

.chart {
  height: 0vw;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
}

.welcome p {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-family: Gotham;
}

.welcome h2 {
  color: #888;
  font-size: 1.5rem;
  font-family: Gotham;
  margin-bottom: 30px;
}

.welcome i {
  font-size: 2.5rem;
  animation-duration: 0.2s;
  animation-name: buzz;
  animation-direction: alternate;
  animation-iteration-count: 5;
}

@keyframes buzz {
  from {
      font-size: 2.5rem;
      transform: rotate(-45deg);
  }

  to {
    font-size: 2.5rem;
    transform: rotate(45deg);
  }
}

.welcome h2 span {
  color: #780727;
  font-family: GothamRounded;
}

.Container select {
  width: 10vw;
  padding: 2px;
  margin-left: 10px;
  font-size: 1rem;
  font-family: Gotham;
  outline: none;
  border: none;
  border: solid #780727 2px;
  border-radius: 4px;
}

.dateSelector {
  display: flex;
}