@font-face {
  font-family: GothamRounded;
  src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
  font-family: Gotham;
  src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}

.welcome{
    width: 100%;
    max-width: 480px;
    background-color:#FFF;
    padding: 15px 30px;
  }
  
  .welcome h2{
    color: #888;
    font-size: 28px;
    font-family: Gotham;
    margin-bottom: 30px;
  }
  
  .welcome h2 span{
    color: #780727;
    font-family: GothamRounded;
  }