/* Estilos para login */

/* Hace referencia a todos los componentes que pueda haber en la pagina (esta) */
@font-face {
    font-family: GothamRounded;
    src: url(../../assets/GothamRounded/GothamRounded-Bold.otf);
}

@font-face {
    font-family: Gotham;
    src: url(../../assets/GothamRounded/GothamRounded-Light.otf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login form{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
    margin: 10px;
}

.Welcome{
    text-align: center;
    

}

.Welcome h1{
    color: black;
    font-weight: bold;
    font-family: GothamRounded;
    margin-bottom: 5px;
    
}

.Welcome p{
    font-size: 1rem;
    font-family: Gotham;
    margin-bottom: 5px;
    
}

.User{
    display: flex;
    border:solid #780727 2px;
    margin-bottom: 10px;
}

.User input{
    width:100%;
    font-family: Gotham;
}

.Pass input{
    width: 100%;
    font-family: Gotham;
}

.icon-user{
    background-color: #780727;
    color: white;
    padding: 5px;
}

.icon-pass{
    background-color: #780727;
    color: white;
    padding: 5px;
}

.Pass{
    display: flex;
    border: solid #780727 2px;
}

.Pass input{
    width: 100%;
}

.btnLog button{
    background: none;
    color: white;
    font-weight: bold;
    width: 100%;
    border: none;
    font-family: Gotham;
}

svg {
    width: 1.5em;
    height: 1.5em;
}

.btnLog{
    display: flex;
    margin-top: 20px;
    border-radius: 2px;
    padding: 5px;
    background-color: #780727;
    color: white;
    height: 30px;
}

.btnLog svg{
    margin-top: -2px;
}