:root {
    --primario: #780727;
    --primarioOscuro: #380212;
    --blanco: #fff;
    --negro: #000;
}

.login__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    justify-content: center;
}

.welcome {
    text-align: center;
}

.welcome__bienvenido {
    color: var(--negro);
    font-weight: bold;
    font-family: GothamRounded;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.welcome__parrafo {
    font-size: 1rem;
    font-family: Gotham;
    margin-bottom: 5px;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    justify-content: space-between;
    margin: 10px;
}

.login__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__content--user {
    display: flex;
    border:solid var(--primario) 2px;
    margin-bottom: 10px;
}

.icon-user {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 5px;
}

.login__content--user input {
    width:100%;
    font-family: Gotham;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
}

.login__content--pass {
    display: flex;
    border: solid var(--primario) 2px;
}

.icon-pass {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 5px;
}

.login__content--pass input {
    width: 100%;
    font-family: Gotham;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
}

.btn__login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    gap: 5px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    color: var(--blanco);
    background-color: var(--primario);
    font-size: .8rem;
    font-family: GothamRounded;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
}

.btn__login:hover {
    background-color: var(--primarioOscuro);
}

svg {
    width: 1.5em;
    height: 1.5em;
}

